.container {
    margin: 0px auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.container_description {
    margin-top: 20px;
    margin-left: 50px;
    max-width: 800px;
}

.title {
    font-family: Roboto, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 12px;
}

.rating {
    color: #637083;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.description {
    color: #252525;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 12px;
    line-height: 20px;
}

.subtitle {
    font-size: 18px;
    line-height: 12px;
}